.report-container {
    margin-bottom: 40px;
  }
  
  .time-range-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .time-range-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .time-range-buttons button:hover {
    background-color: #0056b3;
  }
  
.download-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }
  